<!DOCTYPE html>
<html lang="fr" ng-app="">

<head>
  <meta charset="utf-8" />
  <title>Exercice 6 part 3 AngularJS</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1>Exercices AngularJS - Partie 3 - Exercice 6</h1>
    <p>Dans le fichier html fourni, formater la variable pi en monnaie.</p>
    <div>
     <button class="btn btn-primary" ng-click="text = false">1er bouton</button>
     <button class="btn btn-primary" ng-click="text = true">2nd bouton</button>
     <p ng-hide="text">Bonjour, je suis le premier paragraphe</p>
     <p ng-show="text">Bonjour, je suis le second paragraphe</p>
    </div>
    <a class="btn btn-light" href="https://github.com/La-Manu/Exercices-AngularJs-Partie-3" role="button">Retour au sommaire</a>
  </div>
  <script src="assets/js/script.js"></script>
</body>

</html>
