<!DOCTYPE html>
<html lang="fr" ng-app>

<head>
  <meta charset="utf-8" />
  <title>Exercice 1 part 4 AngularJS</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1>Exercices AngularJS - Partie 4 - Exercice 1</h1>
    <p>Dans le fichier html fourni, convertir le texte de la variable firstSentence en majuscules et celui de secondSentence en minuscules</p>
    <p>Faire une page HTML contenant un bouton + , un bouton - et un paragraphe. Au clic sur le bouton + incrémenter le chiffre présent dans le paragraphe de 1. Au clic sur le bouton - décrémenter le chiffre de 1</p>
    <div>
      <p>{{count}}</p>
      <button class="btn btn-primary" ng-click="count = count + 1" ng-init="count=1">+</button>
      <button class="btn btn-primary" ng-click="count = count - 1" ng-init="count=1">-</button>
    </div>
    <a class="btn btn-light" href="../index.html" role="button">Retour au sommaire</a>
  </div>
  <script src="assets/js/script.js"></script>
</body>

</html>
